{% extends "base.html" %}

{% block content %}
    <h2>{{ context['form'].title }}</h2>

    <form action="" method="post">
        {{ context['form'].hidden_tag() }}
        <p>
            Delete host {{ context['form'].name.data }} ({{ context['form'].address.data }})?
        </p>
        <p>{{ context['form'].submit(class_="btn btn-danger") }}</p>

        {% if context['host'].aliases|length > 0 %}
        <p>Associated aliases will be removed:</p>
        <ul>
        {% for alias in context['host'].aliases %}
        <li>
            {{ alias.name }}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
    </form>

{% endblock %}
