{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        <div class="d-flex justify-content-between">
        <h2>{{ context['form'].title }}</h2>
            <div>{{ context['form'].submit(class_="btn btn-primary") }}</div>
        </div>
        {{ context['form'].hidden_tag() }}
        <div class="row">
            <div class="col">
                {{ context['form'].name.label }}
                {{ context['form'].name(class_="form-control") }}
                {% for error in context['form'].name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col">
                {{ context['form'].address.label }}
                {{ context['form'].address(class_="form-control") }}
                {% for error in context['form'].address.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col">
                {{ context['form'].mac.label }}
                {{ context['form'].mac(class_="form-control") }}
                {% for error in context['form'].mac.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        {{ context['form'].comment.label }}
        {{ context['form'].comment(class_="form-control") }}
    </form>
    <p> </p>
    {% if context['host'] is defined %}
    <h3>
        <a href="{{ url_for('alias.alias_list', host_address=context['host'].address) }}">
            Aliases
        </a>
    </h3>
    <div class="col-6">
        <table class="table table-striped table-sm">
            <tbody>
                {% for alias in context['host'].aliases %}
                <tr>
                    <td><a href="{{ url_for('alias.edit', host_address=context['host'].address, alias_name=alias.name, network_address=context['host'].network.address) }}">{{ alias.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
