{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Hosts in network <em>{{ context['network'].name }}</em> ({{ context['network'].address }}/{{ context['network'].netmask }})</h2>
            <p><a class="btn btn-primary" href="{{ url_for('host.add', network_address=context['network'].address) }}">Add host</a></p>
        </div>
        <div class="col">
            <table class="table table-striped table-sm">
                <thead><tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>MAC Address</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th><th>&nbsp;</th>
                </tr></thead>
                <tbody">
                    {% for host in context['hosts'] %}
                    <tr>
                        <td><a href="{{ url_for('host.edit', host_address=host.address, network_address=context['network'].address) }}">{{ host.name }}</a></td>
                        <td><a href="{{ url_for('alias.alias_list', host_address=host.address) }}">{{ host.address }}</a></td>
                        <td>{% if host.mac is not none %}{{ host.mac }}{% endif %}</td>
                        <td align="right">
                            <a href="{{ url_for('host.edit', host_address=host.address, network_address=context['network'].address) }}"><i class="far fa-edit"></i></a>
                            <a href="{{ url_for('alias.alias_list', host_address=host.address) }}"><i class="fas fa-list-ol"></i></a>
                            <a href="{{ url_for('host.delete', host_address=host.address) }}"><i class="far fa-trash-alt delete"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
