{% extends "base.html" %}

{% block content %}
    <h2>{{ context['form'].title }}</h2>

    <form action="" method="post">
        {{ context['form'].hidden_tag() }}
        <p>
            Delete user {{ context['form'].login.data }}?
        </p>
        <p>{{ context['form'].submit(class_="btn btn-danger") }}</p>
    </form>

{% endblock %}
