{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        <div class="d-flex justify-content-between">
        <h2>{{ context['form'].title }}</h2>
            <div>{{ context['form'].submit(class_="btn btn-primary") }}</div>
        </div>
        {{ context['form'].hidden_tag() }}
        <div class="row">
            <div class="col">
                {{ context['form'].login.label }}
                {{ context['form'].login(class_="form-control") }}
                {% for error in context['form'].login.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col">
                {{ context['form'].role.label }}
                <table>
                {%- for subfield in context['form'].role %}
                    <tr>
                        <td class="pb-2 pr-3">{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                {% endfor %}
                </table>
                {% for error in context['form'].role.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ context['form'].password.label }}
                {{ context['form'].password(class_="form-control") }}
                {% for error in context['form'].password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col">
                {{ context['form'].confirm.label }}
                {{ context['form'].confirm(class_="form-control") }}
                {% for error in context['form'].confirm.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
    </form>
    <p> </p>
    {% if context['host'] is defined %}
    <h3>
        <a href="{{ url_for('alias.alias_list', host_address=context['host'].address) }}">
            Aliases
        </a>
    </h3>
    <div class="col-6">
        <table class="table table-striped table-sm">
            <tbody>
                {% for alias in context['host'].aliases %}
                <tr>
                    <td><a href="{{ url_for('alias.edit', host_address=context['host'].address, alias_name=alias.name, network_address=context['host'].network.address) }}">{{ alias.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
