{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Users</h2>
            <div><a class="btn btn-primary" href="{{ url_for('user.add', id=0) }}">Add user</a></div>
        </div>
    </div>

    <div class="col">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for user in context['users'] %}
                <tr>
                    <td><a href="{{ url_for('user.edit', id=user.id) }}">{{ user.id }}</a></td>
                    <td><a href="{{ url_for('user.edit', id=user.id) }}">{{ user.login }}</a></td>
                    <td>{{ user.role }}</td>
                    <td align="right">
                        <a href="{{ url_for('user.edit', id=user.id) }}"><i class="far fa-edit"></i></a>
                        <a href="{{ url_for('user.delete', id=user.id) }}"><i class="far fa-trash-alt delete"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
