{% extends "base.html" %}

{% block content %}
    <br>
    <h1>Login</h1>
    <form action="" method="post">
        {{ context['form'].hidden_tag() }}
        <p>
            {{ context['form'].login.label }}<br>
            {{ context['form'].login(size=40) }}<br>
            {% for error in context['form'].login.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ context['form'].password.label }}<br>
            {{ context['form'].password(size=40) }}<br>
            {% for error in context['form'].password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ context['form'].remember_me() }} {{ context['form'].remember_me.label }}</p>
        <p>{{ context['form'].submit() }}</p>
    </form>
{% endblock %}
