{% extends "base.html" %}

{% set title = 'Password Update' %}

{% block content %}
    <h1>Update Password</h1>
    <form action="" method="post">
        {{ context['form'].hidden_tag() }}
        <p>
            {{ context['form'].password.label }}<br>
            {{ context['form'].password(size=40) }}<br>
            {% for error in context['form'].password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ context['form'].confirm.label }}<br>
            {{ context['form'].confirm(size=40) }}<br>
            {% for error in context['form'].confirm.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ context['form'].submit() }}</p>
    </form>
{% endblock %}
