{% extends "base.html" %}

{% set title = 'User Profile' %}

{% block content %}
    <form action="" method="post">
        {{ context['form'].hidden_tag() }}
        <h2>User Profile</h2>
        <div class="card">
            <h4 class="card-header">Layout</h4>
            <div class="card-body">
                <div class="row pl-2">
                    <table>
                    {%- for subfield in context['form'].design %}
                        <tr>
                            <td class="pb-2 pr-3">{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                    {%- endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Security</h4>
            <div class="card-body">
                <div class="row pl-2">
                    <a href="/password">Password change</a>
                </div>
                <div class="row pl-2">
                    <a href="{{ url_for('token.token_list') }}">Authorization token</a>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div>&nbsp;</div>
            <div>{{ context['form'].submit(class_="btn btn-primary") }}</div>
        </div>
    </form>
{% endblock %}
