{% extends "base.html" %}

{% block content %}
<form action="" method="post">
<div class="container">
    <div class="d-flex justify-content-between">
        <h2>Search System</h2>
        <div>{{ context['form'].submit(class_="btn btn-primary") }}</div>
    </div>
    {{ context['form'].hidden_tag() }}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    {{ context['form'].searchpattern.label }}
                    {{ context['form'].searchpattern(class_="form-control") }}
                    {% for error in context['form'].searchpattern.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    Hostname
                </div>
                <div class="col">
                    IP
                </div>
                <div class="col">
                    MAC
                </div>
                <div class="col">
                    Subnet
                </div>
            </div>
            {% for hit in context["searchresult"] %}
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('host.edit', host_address=hit.address) }}">{{ hit.name }}</a>
                </div>
                <div class="col">
                    {{ hit.address }}
                </div>
                <div class="col">
                    {{ hit.mac }}
                </div>
                <div class="col">
                    <a href="{{ url_for('host.host_list', network_address=hit.network.address) }}">{{ hit.network.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</form>

{% endblock %}
