{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Running Webhook</h2>
        </div>
        <p>Started webhook {{ context['config'].webhook }}, response:</p>
        <pre>{{ context['response'] }}</pre>
    </div>

{% endblock %}
