<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>DNSMGR</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dnsmgr.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {%- if current_user.design == "default" %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dnsmgr_default.css') }}">
        {%- elif current_user.design == "dark" %}
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dnsmgr_dark.css') }}">
        {%- else %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        {%- endif %}
    </head>

    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div aria-live="polite" aria-atomic="true" style="position: absolute; top: 0; right: 0; z-index:1;">
          <!-- Position it -->
          <div class="toast-box">
            {% for category, message in messages %}
              <div class="toast-{{ category }} toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="8000">
                <div class="toast-{{ category }} toast-header">
                  <i class="toast-icon flex-grow-1 fas fa-exclamation-circle">&nbsp;</i>
                  <strong class="toast-header-content flex-grow-1">{{ category | upper }}</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="toast-body">
                    {{ message }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %}
        <div class="container">
            <div class="row">
            <h1 class="col">DNS/DHCP Manager <span class="h6">rel:{{ app_version }}</span></h1>
                <div class="launchicons">
                {% if current_user.is_authenticated %}
                    <a class="ml-2" href="{{ url_for('webhook.index') }}" data-toggle="tooltip" title="Run hook"
                       data-placement="bottom"><i class="fas fa-rocket mt-3"></i></a>
                    <a class="ml-2" href="{{ url_for('search.index') }}" data-toggle="tooltip" title="Search"
                       data-placement="bottom"><i class="fas fa-search mt-3"></i></a>
                    <a class="ml-2" href="{{ url_for('config.index') }}" data-toggle="tooltip" title="Basic configuration"
                       data-placement="bottom"><i class="fas fa-cog mt-3"></i></a>
                    {% if current_user.role == "admin" %}
                    <a class="ml-2" href="{{ url_for('user.users') }}" data-toggle="tooltip" title="User management"
                       data-placement="bottom"><i class="fas fa-users mt-3"></i></a>
                    {% endif %}
                    <a class="ml-2" href="{{ url_for('user.profile') }}" data-toggle="tooltip" title="User profile"
                       data-placement="bottom"><i class="fas fa-user-edit mt-3"></i></a>
                    <a class="ml-2" href="{{ url_for('user.logout') }}" data-toggle="tooltip" title="Logout"
                       data-placement="bottom"><i class="fas fa-sign-out-alt mt-3"></i></a>
                {% else %}
                    <a class="ml-2" href="{{ url_for('user.login') }}" data-toggle="tooltip" title="Login"
                       data-placement="bottom"><i class="fas fa-sign-in-alt mt-3"></i></a>
                {% endif %}
                </div>
            </div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            {% for crumb in context['breadcrumbs'] %}
                <li class="breadcrumb-item"><a href="{{ crumb.target }}">{{ crumb.label }}</a></li>
            {% endfor %}
            </ol>
        </nav>

        <!-- navbar -->

        <div class="container text-muted">

            <!-- child template -->
            {% block content %}
            {% endblock %}

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
        $(document).ready(function(){
            $('.toast').toast('show');
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        </script>
    </body>
</html>
