$TTL {{ context['config']['dns_ttl'] }}
@ IN 	SOA	{{ context['config']['master_dns'] }}.{{ context['config']['domain_name'] }}. hostmaster.{{ context['config']['domain_name'] }}. (
		{{ context['serial'] }}              ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         86400 )       ; Negative Cache TTL

	IN	NS	{{ context['config']['master_dns'] }}.{{ context['config']['domain_name'] }}.

{%- for host in context['network'].hosts %}
{{ host.address.split('.')[3] }} IN PTR {{ host.name }}.{{ context['config'].domain_name }}.
{% endfor %}
