$TTL    {{ context['config']['dns_ttl'] }}
$ORIGIN	{{ context['config']['domain_name'] }}.
{{ context['config']['domain_name'] }}.	IN	SOA	{{ context['config']['master_dns'] }}.{{ context['config']['domain_name'] }}. hostmaster.{{ context['config']['domain_name'] }}. (
                         {{ context['serial'] }} ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         86400 )       ; Negative Cache TTL

	IN	NS	{{ context['config']['master_dns'] }}.{{ context['config']['domain_name'] }}.

{%- for host in context['hosts'] %}
{{ host.name }} IN A {{ host.address }}
{%- if host.aliases %}
{%- for alias in host.aliases %}
{{ alias.name }} IN CNAME {{ host.name }}
{% endfor %}
{% endif %}
{% endfor %}
