ddns-update-style none;
option domain-name "{{ context['config']['domain_name'] }}";
option domain-name-servers {{ context['config']['domain_name_server'] }};
option netbios-name-servers {{ context['config']['netbios_name_server'] }};
option subnet-mask {{ context['config']['default_netmask'] }};
default-lease-time {{ context['config']['default_lease_time'] }};
max-lease-time {{ context['config']['max_lease_time'] }};
authoritative;

{%- if context['config'].shared_network %}
shared-network home {
{% endif %}

    {% for subnet in context['networks'] %}

    subnet {{ subnet.address }} netmask {{ subnet.netmask }} {
      option routers {{ subnet.gateway }};
      option subnet-mask {{ subnet.netmask }};
      option broadcast-address {{ subnet.broadcast }};
      option domain-name-servers {{ subnet.dhcp_dns_server }};
      {%- if  subnet.dhcp_netbios_server|length > 0 %}
      option netbios-name-servers {{ subnet.dhcp_netbios_server }};
      {% endif %}
      {%- if subnet.dhcp_nextserver != None and subnet.dhcp_nextserver|length > 0 %}
      nextserver "{{ subnet.dhcp_nextserver }}";
      {% endif %}
      {%- if subnet.dhcp_filename != None and subnet.dhcp_filename|length > 0 %}
      filename "{{ subnet.dhcp_filename }}";
      {% endif %}
      default-lease-time {{ subnet.dhcp_default_lease_time }};
      max-lease-time {{ subnet.dhcp_max_lease_time }};

      {%- if not subnet.dhcp_pool_start == "" %}
      pool {
        range {{ subnet.dhcp_pool_start }} {{ subnet.dhcp_pool_end }};
        {% if subnet.dhcp_pool_known_clients %}allow{% else %}deny{% endif %} known-clients;
        {% if subnet.dhcp_pool_unknown_clients %}allow{% else %}deny{% endif %} unknown-clients;
        min-secs {{ subnet.dhcp_min_secs }};
        option routers {{ subnet.gateway }};
        option broadcast-address {{ subnet.broadcast }};
      }
      {%- endif %}
      }

        {%- for host in subnet.hosts %}
        host {{ host.name }}{
          {%- if host.mac != None %}
          hardware ethernet {{ host.mac }};
          {%- endif %}
          fixed-address {{ host.address }};
        }
        {%- endfor %}



    {% endfor %}

{%- if context['config'].shared_network %}
}
{% endif %}
