{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        <div class="d-flex justify-content-between">
            <h2>{{ context['form'].title }}</h2>
            <div>{{ context['form'].submit(class_="btn btn-primary") }}</div>
        </div>
        {{ context['form'].hidden_tag() }}
        <div class="row">
            <div class="col">
                {{ context['form'].name.label }}
                {{ context['form'].name(class_="form-control") }}
                {% for error in context['form'].name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col">
                {{ context['form'].expiration.label }}
                {{ context['form'].expiration(class_="form-control", data_toggle="tooltip", title=context['form'].expiration.description) }}
                {% for error in context['form'].expiration.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ context['form'].description.label }}
                {{ context['form'].description(class_="form-control") }}
                {% for error in context['form'].description.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}
