{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Your token list</h2>
            <div><a class="btn btn-primary" href="{{ url_for('token.add', user_id=0) }}">Add token</a></div>
        </div>
    </div>

    <div class="col">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Expires</th>
                    <th>Description</th>
                    <th>&nbsp</th>
                </tr>
            </thead>
            <tbody>
                {% for token in context['token_list'] %}
                <tr>
                    <td>{{ token.name }}</td>
                    <td>{{ token.creation_date_fmt() }}</td>
                    {% if token.has_expired() %}
                        {% set tooltip = "Token is valid" %}
                        {% set icon = '<i class="far fa-solid fa-square-check valid"></i>' %}
                    {% else %}
                        {% set tooltip = "Token has expired" %}
                        {% set icon = '<i class="far fa-solid fa-square-xmark invalid"></i>' %}
                    {% endif %}
                    <td data-toggle="tooltip" title="{{ tooltip }}">
                        {{ icon|safe }} {{ token.expiration_date_fmt() }}
                    </td>
                    <td>{{ token.description }}</td>
                    <td align="right">
                        <a href="{{ url_for('token.delete', token_id=token.id) }}"><i class="far fa-trash-alt delete"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
