{% extends "base.html" %}

{% block content %}
    <h2>New Access Token</h2>

    <p>This is your new token <i>{{ context["token"].name }}</i>. It won't be shown again, copy it now.</p>

    <form action="" method="post">
        {{ context['form'].hidden_tag() }}
        {{ context['form'].token }}
    </form>

{% endblock %}
