{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Aliases for Host
                <a href="{{ url_for('host.edit', host_address=context['host'].address, network_address=context['host'].network.address) }}">
                    {{ context['host'].name }} ({{ context['host'].address }})
                </a>
            </h2>
            <p><a class="btn btn-primary" href="{{ url_for('alias.add', host_address=context['host'].address) }}">Add alias</a></p>
        </div>

        <div class="col-6">
            <table class="table table-striped table-sm">
                <thead><tr><th>Name</th><th>&nbsp;</th></tr></thead>
                <tbody>
                    {% for alias in context['aliases'] %}
                    <tr>
                        <td><a href="{{ url_for('alias.edit', host_address=context['host'].address, alias_name=alias.name) }}">{{ alias.name }}</a></td>
                        <td align="right">
                            <a href="{{ url_for('alias.edit', host_address=context['host'].address, alias_name=alias.name) }}"><i class="far fa-edit"></i></a>
                            <a href="{{ url_for('alias.delete', alias_name=alias.name) }}"><i class="far fa-trash-alt delete"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
