{% extends "base.html" %}

{% block content %}
    <h2>{{ context['form'].title }}</h2>

    <form action="" method="post">
        {{ context['form'].hidden_tag() }}
        <p>
            Delete alias {{ context['form'].name.data }} for host {{ context['form'].host.data.name }} ({{ context['form'].host.data.address }})?
        </p>
        <p>{{ context['form'].submit(class_="btn btn-danger") }}</p>
    </form>

{% endblock %}
