{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        <div class="d-flex justify-content-between">
            <h2>{{ context['form'].title }} for host
                {% if context['host'].network is defined %}
                <a href="{{ url_for('host.edit', host_address=context['host'].address, network_address=context['host'].network.address) }}">
                    {{ context['host'].name }} ({{ context['host'].address }})
                </a>
                {% else %}
                    {{ context['host'].name }} ({{ context['host'].address }})
                {% endif %}
            </h2>
            <div>{{ context['form'].submit(class_="btn btn-primary") }}</div>
        </div>
        {{ context['form'].hidden_tag() }}
        <div>
            {{ context['form'].name.label }}
            {{ context['form'].name(class_="form-control") }}
            {% for error in context['form'].name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </form>


{% endblock %}
