{% extends "base.html" %}

{% block content %}
<form action="" method="post">
<div class="container">
    <div class="d-flex justify-content-between">
        <h2>Configuration</h2>
        <div>{{ context['form'].submit(class_="btn btn-primary") }}</div>
    </div>
    {{ context['form'].hidden_tag() }}
    <div class="card">
        <h3 class="card-header">DNS</h3>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    {{ context['form'].master_dns.label }}
                    {{ context['form'].master_dns(class_="form-control") }}
                    {% for error in context['form'].master_dns.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ context['form'].dns_ttl.label }}
                    {{ context['form'].dns_ttl(class_="form-control") }}
                    {% for error in context['form'].dns_ttl.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-header">DHCP</h3>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    {{ context['form'].domain_name.label }}
                    {{ context['form'].domain_name(class_="form-control") }}
                    {% for error in context['form'].domain_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ context['form'].domain_name_server.label }}
                    {{ context['form'].domain_name_server(class_="form-control") }}
                    {% for error in context['form'].domain_name_server.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ context['form'].netbios_name_server.label }}
                    {{ context['form'].netbios_name_server(class_="form-control") }}
                    {% for error in context['form'].netbios_name_server.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ context['form'].default_netmask.label }}
                    {{ context['form'].default_netmask(class_="form-control") }}
                    {% for error in context['form'].default_netmask.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ context['form'].default_lease_time.label }}
                    {{ context['form'].default_lease_time(class_="form-control") }}
                    {% for error in context['form'].default_lease_time.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ context['form'].max_lease_time.label }}
                    {{ context['form'].max_lease_time(class_="form-control") }}
                    {% for error in context['form'].max_lease_time.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <hr/>
            <div class="form-check">
                {{ context['form'].shared_network(class_="form-check-input") }}
                {% for error in context['form'].shared_network.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ context['form'].shared_network.label(class_="form-check-label") }}

            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-header">Connections</h3>
        <div class="card-body">
            <div class="row">
                {{ context['form'].webhook.label }}
                {{ context['form'].webhook(class_="form-control") }}
            </div>
    </div>
    </div>
</div>
</form>

{% endblock %}
