
.delete {
    color: #ee5f5b;
}

.valid {
    color: #55bb22;
}

.invalid {
    color: #ee5f5b;
}

.toast-box {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 270px;
}

div div.toast-header {
    background-color: #aaaa99;
}

div.toast-success {
    background-color: #55bb22;
    color: #000000;
}

div.toast-error {
    background-color: #cc5522;
    color: #000000;
}


.launchicons {
    font-size: large;
}
