{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        <div class="d-flex justify-content-between">
            <h2>{{ context['form'].title }}</h2>
            <div>{{ context['form'].submit(class_="btn btn-primary") }}</div>
        </div>
        {{ context['form'].hidden_tag() }}
        <div class="card">
            <h4 class="card-header">Network Information</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {{ context['form'].name.label }}
                        {{ context['form'].name(class_="form-control") }}
                        {% for error in context['form'].name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {{ context['form'].address.label }}
                        {{ context['form'].address(class_="form-control") }}
                        {% for error in context['form'].address.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ context['form'].netmask.label }}
                        {{ context['form'].netmask(class_="form-control") }}
                        {% for error in context['form'].netmask.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {{ context['form'].gateway.label }}
                        {{ context['form'].gateway(class_="form-control") }}
                        {% for error in context['form'].gateway.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Name Servers (comma separated)</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                       {{ context['form'].dhcp_dns_server.label }}
                        {{ context['form'].dhcp_dns_server(class_="form-control") }}
                        {% for error in context['form'].dhcp_dns_server.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col">
                       {{ context['form'].dhcp_netbios_server.label }}
                        {{ context['form'].dhcp_netbios_server(class_="form-control") }}
                        {% for error in context['form'].dhcp_netbios_server.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Address Pool</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                       {{ context['form'].dhcp_pool_start.label }}
                        {{ context['form'].dhcp_pool_start(class_="form-control") }}
                        {% for error in context['form'].dhcp_pool_start.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col">
                       {{ context['form'].dhcp_pool_end.label }}
                        {{ context['form'].dhcp_pool_end(class_="form-control") }}
                        {% for error in context['form'].dhcp_pool_end.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-3">
                        <div class="form-check">
                            {{ context['form'].dhcp_pool_known_clients(class_="form-check-input") }}
                            {% for error in context['form'].dhcp_pool_known_clients.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                           {{ context['form'].dhcp_pool_known_clients.label(class_="form-check-label") }}
                        </div>
                        <div class="form-check">
                            {{ context['form'].dhcp_pool_unknown_clients(class_="form-check-input") }}
                            {% for error in context['form'].dhcp_pool_unknown_clients.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                           {{ context['form'].dhcp_pool_unknown_clients.label(class_="form-check-label") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Timing</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                       {{ context['form'].dhcp_default_lease_time.label }}
                        {{ context['form'].dhcp_default_lease_time(class_="form-control") }}
                        {% for error in context['form'].dhcp_default_lease_time.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col">
                       {{ context['form'].dhcp_max_lease_time.label }}
                        {{ context['form'].dhcp_max_lease_time(class_="form-control") }}
                        {% for error in context['form'].dhcp_max_lease_time.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col">
                       {{ context['form'].dhcp_min_secs.label }}
                        {{ context['form'].dhcp_min_secs(class_="form-control") }}
                        {% for error in context['form'].dhcp_min_secs.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Bootserver</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                       {{ context['form'].dhcp_nextserver.label }}
                        {{ context['form'].dhcp_nextserver(class_="form-control") }}
                        {% for error in context['form'].dhcp_nextserver.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col">
                       {{ context['form'].dhcp_filename.label }}
                        {{ context['form'].dhcp_filename(class_="form-control") }}
                        {% for error in context['form'].dhcp_filename.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>&nbsp;</div>
            <div>{{ context['form'].submit(class_="btn btn-primary") }}</div>
        </div>
    </form>


{% endblock %}
