{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Network Overview</h2>
            <div><a class="btn btn-primary" href="{{ url_for('network.add') }}">Add network</a></div>
        </div>
    </div>

    <div class="col">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Netmask</th>
                <th>Gateway</th>
                <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for network in context['networks'] %}
                <tr>
                    <td><a href="{{ url_for('network.edit', network_address=network.address) }}">{{ network.name }}</a></td>
                    <td><a href="{{ url_for('host.host_list', network_address=network.address) }}">{{ network.address }}</a></td>
                    <td>{{ network.netmask }}</td>
                    <td>{{ network.gateway }}</td>
                    <td align="right">
                        <a href="{{ url_for('network.edit', network_address=network.address) }}"><i class="far fa-edit"></i></a>
                        <a href="{{ url_for('host.host_list', network_address=network.address) }}"><i class="fas fa-list-ol"></i></a>
                        <a href="{{ url_for('network.delete', network_address=network.address) }}"><i class="far fa-trash-alt delete"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
